# Python local environment
backend/venv/
backend/__pycache__/
*.pyc
*.pyo
*.pyd
.Python
backend/talentlens.db

# Node dependencies & compilations
frontend/node_modules/
frontend/.next/
frontend/out/
frontend/build/

# IDE / System files
.vscode/
.idea/
.DS_Store
Thumbs.db
